.cart {
  position: fixed;
  right: 10vw;
  bottom: 10vw;
  background-color: deeppink;
  display: none;
}
.new {
  color: crimson;
}

.del {
  text-decoration: line-through;
}

header  {
  background-color: mediumslateblue;
}
/* .dropdown button {
  border-radius: 0% !important;
} */
/* header h1 {
  text-align: center;
} */
body {
  background-color: black;
  /* color: cornsilk; */
}