.xyz {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.ping {
    height: 10px;
    width: 100px;
    /* margin: 5px; */
    background-color: blue;
    /* bottom: 0; */
    /* left: 100px; */
    display: inline-block;
    /* position:  absolute; */
  }
  .testcont {
    position: relative;
  }
  .testbuttonL:hover {
    background-color: rgba(255, 255, 255, .5);
  }
  .testbuttonR:hover {
    background-color: rgba(255, 255, 255, .5);
  }
  .testbuttonL {
    height: 400px;
    width: 100px;
    background-color: transparent;
    position:  absolute;
    top: 0;
    left: 8px;
  }
  .testbuttonR {
    height: 400px;
    width: 100px;
    background-color: transparent;
    position:  absolute;
    top: 0;
    right: 8px;
  }
.hidable {
    display: none;
}
.cnt {
    display: flex;
    justify-content: center;
}
.imgcntflex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* .imgcnt {
    display: block;
    margin: 0 auto;
} */

@media only screen and (min-width : 992px) {
    .floatie {
        display: block;
        position: sticky; bottom: 10px;
    }
}
@media only screen and (max-width : 991px) {
    .floatie {
        display: none;
    }
}

.override::after {
    /* border-bottom: 0 !important; */
    content: none !important;
}

.cart {
    position: relative;
    right: 10vw;
    bottom: 10vw;
    background-color: deeppink;
    height: 10vw;
    width: 10vw;
    /* display: none; */
}
.new {
    color: crimson;
}

.del {
    text-decoration: line-through;
}

header  {
    background-color: mediumslateblue;
}
/* .dropdown button {
    border-radius: 0% !important;
} */
/* header h1 {
    text-align: center;
} */
body {
    background-color: black;
    /* color: cornsilk; */
}