.cart {
    position: relative;
    right: 10vw;
    bottom: 10vw;
    background-color: deeppink;
    height: 10vw;
    width: 10vw;
    /* display: none; */
}
.new {
    color: crimson;
}

.del {
    text-decoration: line-through;
}

header  {
    background-color: mediumslateblue;
}
/* .dropdown button {
    border-radius: 0% !important;
} */
/* header h1 {
    text-align: center;
} */
body {
    background-color: black;
    /* color: cornsilk; */
}