@media only screen and (min-width : 992px) {
    .floatie {
        display: block;
        position: sticky; bottom: 10px;
    }
}
@media only screen and (max-width : 991px) {
    .floatie {
        display: none;
    }
}

.override::after {
    /* border-bottom: 0 !important; */
    content: none !important;
}

.cart {
    position: relative;
    right: 10vw;
    bottom: 10vw;
    background-color: deeppink;
    height: 10vw;
    width: 10vw;
    /* display: none; */
}
.new {
    color: crimson;
}

.del {
    text-decoration: line-through;
}

header  {
    background-color: mediumslateblue;
}
/* .dropdown button {
    border-radius: 0% !important;
} */
/* header h1 {
    text-align: center;
} */
body {
    background-color: black;
    /* color: cornsilk; */
}